// VARIABLES //

$primary: #ddd;
$dark: #333;
$light: #fff;
$colour: crimson;
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
$font-size-multipler: 1;



// GLOBAL STYLES //



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: $dark;
}

body{
    background-color: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn{
    background-color: $colour;
    color: $light;
    text-decoration: none;
    border: 0;
    border-radius: 6px;
    padding: 0.6rem 1.3rem;
}

img{
    max-width: 100%;
}



// MAIN CONTENT //



.wrapper{
    display: grid;
    gap: 20px;

    .main-nav{
        ul{
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(4, 1fr);
            padding: 0px;
            list-style: none;

            a{
                background-color: $primary;
                display: block;
                text-decoration: none;
                padding: 0.8rem;
                text-align: center;
                color: $dark;
                text-transform: uppercase;
                // font-size: calc($font-size-multipler)*1.1rem;
                font-size: 1.1rem;
                box-shadow: $shadow;
                transition: 0.2s;
                transition-timing-function: ease-in-out;

                &:hover{
                    background-color: $dark;
                    color: $light;
                }
            }
        }
    }

    .top-header{
        display: grid;
        gap: 20px;
        grid-template-areas: 
            "main-area main-area top-box-a"
            "main-area main-area top-box-b";

        .main-area{
            grid-area: main-area;
            min-height: 400px;
            background-image: url("basketball.jpg");
            background-size: cover;
            background-position: center;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            box-shadow: $shadow;

            h1{
                // font-size: calc($font-size-multipler)*3.5rem;
                font-size: 3.5rem;
                margin-top: 0;
                color: $light;
            }

            p{
                // font-size: calc($font-size-multipler)*1.3rem;
                font-size: 1.3rem;
                margin-bottom: 0;
                color: $light;
            }

            a{
                margin-top: 35px;
            }
        }

        .top-box{
            background-color: $primary;
            display: grid;
            justify-content: center;
            align-items: center;
            box-shadow: $shadow;
            padding: 1.5rem;

            .price{
                font-size: 2.0rem;
                // font-size: calc($font-size-multipler)*2.0rem;
            }
        }

        .top-box-a{
            grid-area: top-box-a; 
        }

        .top-box-b{
            grid-area: top-box-b;
        }
    }

    .boxes{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));

        .box{
            background-color: $primary;
            text-align: center;
            padding: 1.5rem 2.0rem;
            box-shadow: $shadow;

            h3{
                margin: 15px 0px;
            }

            svg{
                width: 40px;
                fill: $colour;
            }
        }
    }

    .info{
        background-color: $primary;
        box-shadow: $shadow;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2,1fr);
        padding: 3rem;

        p{
            margin-bottom: 25px;
        }
    }

    .portfolio{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));

        img{
            width: 100%;
            box-shadow: $shadow;
        }
    }

    footer{
        margin-top: 2rem;
        background: $dark;
        color: $light;
        text-align: center;
        padding: 1rem;
    }
}

@media (max-width: 960px){
    .top-header{
        grid-template-areas: 
            "main-area main-area"
            "top-box-a top-box-b" !important;
    }
}

@media (max-width: 500px){
    .top-header{
        grid-template-areas: 
            "main-area"
            "top-box-a"
            "top-box-b" !important;
    }

    .main-nav{
        ul{
            grid-template-columns: 1fr !important;
        }
    }
    .info{
        grid-template-columns: 1fr !important;    
    }

}